*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
}
main{
    min-height: 100vh;
    width: 100%;
    display: flex;
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;
    position: relative;
    background-image: linear-gradient(rgba(4,9,30,0.7),
     rgba(4,9,30,0.7)), url(/media/static/web_img/background.jpeg);
     background-position: center;
     background-size: cover;
     position: relative;
}

.sidebar{
    background-image:linear-gradient(rgba(106, 98, 98,0.7),rgba(102, 95, 95, 0.1) ) ;
    backdrop-filter: blur(2rem);
    height: 100vh;
    left: -2%;
    padding: 5rem 3rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    box-shadow: 2px 20px 1.5rem rgba(0, 0, 0, 0.412);
}

.user-info{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 200;
    text-shadow: 8px 5px 10px   gray;
    padding: 0 15px;
    border-radius: .2rem;
    box-shadow: 8px 5px 10px rgba(0, 0, 0, 0.159);


}
.user-info>*{
    margin-top: 10px;
}
.links{
    flex:4;


}

.links a{
    text-decoration: none;
    color: white;
}


.link a{
    display: block;
    padding: 5px 40px;
    height: 2rem;
    text-align: center;
    margin: 20px 0 0 0px;
    border-radius: .2rem;
    box-shadow: 8px 5px 10px rgba(0, 0, 0, 0.159);
    transition: 1s;
}


.link a:hover{
    background-image:linear-gradient(to left, coral, rgba(255, 255, 255, 0));
    cursor: pointer;
}


/* DASH BAORD PAGEEEE  */

.content{

    color: white;
    flex: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    width: 70%;
    background-image:linear-gradient(rgba(106, 98, 98,0.7),rgba(102, 95, 95, 0.1) ) ;
    backdrop-filter: blur(2rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 90%;
    border-radius: .5rem;


}

.header{
    color: white;
    flex: 4;
    margin-top: 7rem;
    text-align: center;
}

.entry{
    flex: 4;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 1rem;
}

.info{
    flex: 5;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    height: 50%;
    background-image:linear-gradient(rgba(106, 98, 98,0.7),rgba(102, 95, 95, 0.1));
    backdrop-filter: blur(2rem);
    border-radius:1rem;
    margin-bottom: 2rem;
    padding: 1rem 0rem;

}
.info>*{
    border-radius: 1rem;
    text-decoration: white;
}
.ranking{
    flex:1.5;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.ranking>table{
    color: white ;
}


.table{
    color: white;
}


