
*, *::before, *::after {
    box-sizing: border-box;  
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;

}
body{
    min-height: 100vh;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(rgba(4,9,30,0.7),
     rgba(4,9,30,0.7)), url(/media/static/web_img/background.jpeg);
     background-position: center;
     background-size: cover;
     position: relative;


}
.header{
    height: auto;
    width: 100%;


}
.nav_group{
    margin-top: 30px;
    margin-right: 60px;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: flex-end;
    align-items: center;
    
}
.logo{
    margin-right: auto;
}
.nav_group li{
    list-style: none;
    margin-left: 15px;
    display: inline-block;
    position: relative;
}
.nav_bar a {  
    text-decoration: none;
    color: white;
    background-color: none;
    transition: .5s;
    font-size: 15px;
    cursor: pointer;
}
.nav_bar a::after{
    content: ' ';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: .5s;
}
.nav_bar a:hover{
    color: tomato;
    
}
.nav_bar a:hover::after{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}
.main_body{
    border: solid 1px;
    display: grid;
    justify-content: center;
    margin: 100px;
}
.main_body h1{
    font-size: 10rem;
    color: red;
}
.main_body sub{
    margin-top: -130px;
    text-align: center;
}
#get_started{
    padding: 10px 30px;
    color: white;
    background-color: red;
    border: 1px solid black;
    text-decoration: none;
    width: fit-content;
    border-radius:1px;
    transition: .4s;

}
#get_started:hover{
   border: 1px solid #f4f4f4;
   background-color: transparent;

}
.text-box{
   width: 100%;
   position: absolute;
   top: 50%;
   left: 50%;
   text-align: center;
   transform: translate(-50%,-50%);
   color: #fff;
}
.text-box h1{
   font-size:62px;
}
.text-box p{
   margin: 10px 0 40px;
   font-size: 14px;
   color: white;
}

/* LOGIN PAGE  */

.login{
    width: fit-content;
    color: white;
    margin: auto;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.4;
}

.log{
    padding: 10px 30px;
    background: transparent;
    transition: .5s;
    color: white;
    
}

.log:hover{
    background-color: lightcoral;
}

hr {
    margin-left: 0;
    margin-right: 0;
}

.box-background{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 50px;
    background-image:linear-gradient(rgba(106, 98, 98,0.7),rgba(102, 95, 95, 0.1) ) ;
    backdrop-filter: blur(2rem);
    border-radius: .5rem;
}

.box-background h1{
    text-align: center;
}
.box-background a{
    text-decoration: none;
    margin: auto;
    color: rgba(255, 162, 162,0.611);
    transition: .5s;
}
.box-background a:hover{
    color: rgba(255, 162, 162, 1);

}


.box-background>*{
    margin: 20px 0 0 0;
}


.logout{
    text-align: center;
}

/* REGISTER */


  .form{
    width: 30rem;
    line-height: 1.4;
    color: #F2F1E8;
    background-image:linear-gradient(rgba(106, 98, 98,0.7),rgba(102, 95, 95, 0.1) ) ;
    backdrop-filter: blur(2rem);
    border-radius: .5rem;
    padding: 2rem;
  }
  
  
  .group, .form-group{
    margin: 0 auto .35rem auto;
    padding: 0.25rem;
  }
  
  
  .radio, .check{
      display: inline-block;
      margin-right: 0.6rem;
      min-height: 1.25rem;
      min-width: 1.25rem;
  }
  
  
  #submit{
    padding: 1rem 2rem;
  }
  
  label{
    display:flex;
    flex-direction:row;
    align-items:center;
  
  }
  input, button, select, textarea {
      margin: 0;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
  }
  
  .group>input, #dropdown, #submit{
    padding: 0.35em;
    border-radius: 0.25rem;
    width: 100%;
    margin: 0.25em auto;
    border: 1px solid #003B73;
  }
  
    
  .form-group>input, #dropdown, #submit{
    padding: 0.35em;
    border-radius: 0.25rem;
    width: 100%;
    margin: 0.25em auto;
    border: 1px solid #003B73;
  }
  
  textarea{
    padding: 0.35em;
    border-radius: 0.25rem;
    width: 100%;
    margin: 0.25em auto;
    height: 6em;
  }
  
  #submit{
    color: white;
    font-weight: 600;
    background: #003B73;
  }

  .content{
    color: white;
    display: flex;
    justify-content: center;
}



  .contact{
    display: block;
    width: 30%;
    background-image:linear-gradient(rgba(106, 98, 98,0.7),rgba(102, 95, 95, 0.1) ) ;
    backdrop-filter: blur(2rem);
    border-radius: .5rem;
    padding: 2rem;

}

.contact h1{
    text-align: center;
}

.button{
    display: flex;
    justify-content: center;
}