{% extends 'dashboard_base.html'%}
{% load static %}

{% block content %}

<script >
    var Weight_label = {{user.profile.get_weight_list.1|safe}};
    var Weight_data = {{user.profile.get_weight_list.0}};

</script>

<div class="content">
    
    <div class="container">
        <div class="header">
            <h1 class="title">Dashboard</h1> 
            <p>Current Goal : {{user.workout.get_goal}}</p>
        </div> 
    
        <div class="entry links">
            <div class="link">   
                <a href="#">Log new Workout</a>
            </div>
            <div class="link">
                <a class="link" href="#">Log new Weight</a>
            </div>
        </div>
    
        <div class="info">
            <div class="activity">
                {% include "tracker/snippets/chart.html" with Data="activity" %} 		
            </div>
            <div class="weight">
                {% include 'tracker/snippets/chart.html' with Data="weight"  %}
            </div>
        </div>
    </div>
</div> 

<div class="ranking sidebar">
    <div class="rank_titile">
        <h3>  User Ranking</h3>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <th scope="col">Rank</th>
                <th scope="col">User</th>
                <th scope="col">EXP</th>
            </thead>
            <tbody>
                {% for user_rank in ranking %}
                    {% if user_rank == request.user %}
                        <tr class="table-light" id="selected">
                            <th scope="row">{{forloop.counter}}</th>
                            <td>-{{user_rank.username}}-</td>
                            <td>{{user_rank.profile.exp}}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{user_rank.username}}</td>
                            <td>{{user_rank.profile.exp}}</td>
                        </tr>
                    {% endif%}
    
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock content %}








