{% extends 'dashboard_base.html'%}
{% load static %}

{% block content %}
<div class=" content">
    <form method="POST" class="contact">
            <h1> Weight Entry</h1>
        <hr>
        {% csrf_token %}
        {% if messages %}
        {% for message in messages %}
            <p class="alert alert-{{ message.tags }}">{{message}}</p>
        {% endfor %}
        {% endif %}
        
        <div class="form-group">
            <label for="username">Weight(kg): </label>
            <input type="number" step="0.01" min='0' class="form-control" name="weight"  placeholder="current bodyweight... " value="">
        </div>
    
        <div class="button">
            <button type="submit" class="log">Submit</button>
        </div>
    </form>
</div>



{% endblock content %}








