{% extends 'dashboard_base.html'%} 
{% load static %}
{% block content %}

<style>
  .workout{
    display: flex;
    align-items: center;
}
  .workout>*{
    margin: 1rem;
  }
  .workout-info{
    display: flex;
    flex-direction: column;
  }
</style>

<div class="content">
  <div class="container">
    <!-- Iterate over object_list -->
    {% for object in object_list %}
    <!-- Display Objects -->
    <div class="workout">
        <img src="{{object.image.url}}" wdith='150em' height='250em' alt="">
      <span class="workout-info">
      <h2>{{ object.name }}</h2>
      <p style="text-align: justify;">{{ object.description|safe}}</p>
    </span>
      <hr />
      <!-- If objet_list is empty  -->
      {% empty %}
      <li>No objects yet.</li>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
