{% extends 'base.html'%}
{% block content %}
    <div class="login box-background">
        <form method="POST" class="from-group">
            <h1>Password Reset</h1>
            <hr>
            {% csrf_token %}
            {% if messages %}
            {% for message in messages %}
                <p class="alert alert-danger">{{message}}</p>
            {% endfor %}
            {% endif %}
            
            <small>Enter email below to recieve instructions on how to reset your password</small>
            <!-- <div class="form-group">
                <label for="username">Username: </label>
                <input type="text" class="form-control" name="username"  placeholder="Enter Username" required>
            </div> -->
            <div class="form-group">
                <label for="email">Email: </label>
                <input type="email" name="email" class="form-control" placeholder="Email" required>
            </div>

            <div class="button">
                <button type="submit" class="log">Submit</button>
            </div>
        </form>
    </div>
{% endblock content %}