{% extends 'base.html'%}
{% block content %}
    <div class="login box-background">
            <h1>Email Sent</h1>
            <hr>
            {% csrf_token %}
            {% if messages %}
            {% for message in messages %}
                <p class="alert alert-danger">{{message}}</p>
            {% endfor %}
            {% endif %}
            
            <small >Please check your emails for further instructions</small>
            <!-- <div class="form-group">
                <label for="username">Username: </label>
                <input type="text" class="form-control" name="username"  placeholder="Enter Username" required>
            </div> -->
            <!-- <div class="form-group">
                <label for="password">Password: </label>
                <input type="password" name="password" class="form-control" placeholder="Password" required>
            </div>

            <small ><a href="#">Forgot Password?</a></small>

            <div class="button">
                <button type="submit" class="log">Sign In</button>
            </div> -->
    </div>
{% endblock content %}