{% extends 'base.html'%}
{% block content %}
    <div class="login box-background">
            <h1>Reset Complete</h1>
            <hr>
            {% csrf_token %}
            {% if messages %}
            {% for message in messages %}
                <p class="alert alert-danger">{{message}}</p>
            {% endfor %}
            {% endif %}
            
            <small >Reset was succesfull, <a href="{% url 'login' %}"> Log in </a> with your new password</small>
            <!-- <div class="form-group">
                <label for="username">Username: </label>
                <input type="text" class="form-control" name="username"  placeholder="Enter Username" required>
            </div> -->
    </div>
{% endblock content %}